@import 'section'
@import 'phone'
@import 'slider'

.bg-wrap
  background: url(images/general/hero-bg.jpg) no-repeat center top / cover

.page-content
  padding-top: 150px
  +r(576)
    padding-top: 100px